<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Indicates that the server.js file is the node entry point -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Redirect all traffic to the node entry point -->
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="node_modules"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <!-- Additional IIS configuration settings if needed -->
  </system.webServer>
</configuration>
